<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<img src='http://s20.postimg.org/5cqlewrk9/image.jpg' border='0' alt="image" width="50" height="20" align="left" 
			style="padding: 0px 3px;" /> <%= link_to " SHAREE", root_path, id: "logo" %> 
			
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					<li><%= link_to "Sign in", '#' %></li>
				</ul> 
			</nav>
        </div>
      </div>
</header>